<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 px-4"
  (click)="close()"
>
  <div
    class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative border border-purple"
    (click)="$event.stopPropagation()"
  >
    <h2 class="text-2xl font-bold mb-4 text-indigo text-center">
      {{ 'reset.title' | translate }}
    </h2>

    <form (ngSubmit)="submit()" [formGroup]="form" class="space-y-4">
      <div>
        <label class="block text-sm font-semibold text-gray800">
          {{ 'reset.email' | translate }}
        </label>
        <input
          type="email"
          formControlName="email"
          class="w-full px-4 py-2 mt-1 border border-teal rounded focus:outline-none focus:ring-2 focus:ring-indigo"
        />
        <div
          *ngIf="submitted && form.get('email')?.invalid"
          class="text-red-500 text-sm mt-1"
        >
          {{ 'reset.invalidEmail' | translate }}
        </div>
      </div>

      <div class="flex flex-row mx-auto justify-between">


        <button
          type="submit"
          class="bg-lightGreen text-white px-4 py-2 rounded hover:bg-green transition"
        >
          {{ 'reset.send' | translate }}
        </button>
        <button
          type="button"
          (click)="close()"
          class="text-gray800 hover:underline"
        >
          {{ 'reset.cancel' | translate }}
        </button>
      </div>

      <div *ngIf="success === true" class="text-green mt-2 text-sm font-semibold">
        {{ 'reset.success' | translate }}
      </div>

      <div *ngIf="success === false" class="text-red-500 mt-2 text-sm font-semibold">
        {{ 'reset.failed' | translate }}
      </div>
    </form>
  </div>
</div>
