svg#loader circle {
    fill: none;
    stroke: #329cc6;
    stroke-linecap: round;
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
  }
  #loader {
    animation: rotate 2s linear infinite;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  svg#loader circle {
    animation: animate-stroke 1.5s ease-in-out infinite;
  }
  @keyframes animate-stroke {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }