<div class="bg-white p-6 rounded shadow w-96">
  <h2 class="text-xl font-bold mb-4">{{ 'events.editTitle' | translate }}</h2>

  <form [formGroup]="form" (ngSubmit)="save()">
    <label class="block mb-2">
      {{ 'events.title' | translate }}
      <input formControlName="title" class="w-full border rounded p-2 mt-1" />
    </label>

    <label class="block mb-2">
      {{ 'events.occurrence' | translate }}
      <input type="datetime-local" formControlName="occurrence" class="w-full border rounded p-2 mt-1" />
    </label>

    <label class="block mb-2">
      {{ 'events.description' | translate }}
      <textarea formControlName="description" class="w-full border rounded p-2 mt-1"></textarea>
    </label>

    <div class="flex justify-between gap-2 mt-4">
      <button type="button" (click)="cancel()" class="px-4 py-2 bg-gray-300 rounded">
        {{ 'common.cancel' | translate }}
      </button>
      <button
        type="submit"
        [disabled]="form.invalid"
        class="px-5 py-2 rounded-md text-white font-bold transition-colors duration-200 shadow-md
         bg-lightGreen hover:bg-green
         disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed disabled:shadow-none"
      >
        {{ 'common.save' | translate }}
      </button>

    </div>
  </form>
</div>
