<footer class="px-5 bg-reset-purple text-reset-green py-6 border-t-4 border-reset-green relative overflow-hidden">
  <div class="container mx-auto flex justify-between items-center z-10">

    <div class="flex items-center space-x-4">
      <a href="https://www.linkedin.com/in/attila-hajas-51751a258/" target="_blank">
        <i class="fab fa-linkedin-in fa-lg"></i>
      </a>
      <a href="https://github.com/hajasattila" target="_blank">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </div>

    <div class="flex items-center" routerLink="">
      <img src="assets/imgs/UCCLOGO.png" alt="Logo" class="w-8 h-fit" />
    </div>
  </div>
  <div class="absolute inset-0 bg-gradient-to-r from-reset-purple via-reset-green to-reset-light-green opacity-25 z-0 pointer-events-none"></div>
</footer>
