<div class="p-6 max-w-4xl mx-auto">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold">{{ 'events.title' | translate }}</h2>
    <button
      (click)="openCreateModal()"
      class="px-5 py-2 rounded-md text-white font-bold transition-colors duration-200 shadow-md
         bg-lightGreen hover:bg-green"
    >
      {{ 'events.new' | translate }}
    </button>

  </div>

  <div *ngIf="(events$ | async)?.length === 0" class="text-gray-500 italic">
    {{ 'events.empty' | translate }}
  </div>

  <div class="grid md:grid-cols-2 gap-4">
    <app-event-card
      *ngFor="let event of (events$ | async)"
      [event]="event"
      (deleted)="onEventCreated()"
      (edited)="onEventCreated()">
    </app-event-card>


  </div>
  <app-modal-wrapper (created)="onEventCreated()"></app-modal-wrapper>
</div>
